body{
    background-color:honeydew;
   
}

h1{
    color:mediumvioletred
}

footer{
    background-color:azure;
    text-align: center;
    margin-right: 200px;
}
img{
    margin-right: 200px;
}

nav{
    height:600px
    width-200px
    float-left
    padding-5px
    line- height 30px;
}
